<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Restaurant</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li> <%= link_to "Inicio", root_path %></li>
      <li>  <%= link_to "Comidas", foods_path %></li>
    
      <li><%= link_to "Nueva comida", new_food_path %></li>
      </ul>

  </div>
</nav>
